/* styles/globals.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(238, 238, 243);
}

.hero-section {
  background-color: #ceb49e;
  color: white;
  text-align: center;
  padding: 100px 20px;
  background-image: url('https://cdn.pixabay.com/photo/2018/05/08/08/44/artificial-intelligence-3382507_1280.jpg');
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image */
}

.hero-section h1 {
  font-size: 3em;
  margin: 0;
  color: rgb(231, 130, 135);
}

.hero-section p {
  font-size: 2em;
  color: #5ac95f;
}

.button {
  background-color: #ff7f50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: rgb(240, 240, 238);
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  text-align: center;
  background-color: rgb(216, 180, 180);
}

.card img {
  width: 100%;
  height: auto;
}

.card h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: black;
}

.card p {
  padding: 0 10px 10px;
  color: black;
}

/* Hero Section Styles */
.hero {
    background-image: url('https://cdn.pixabay.com/photo/2018/05/08/08/44/artificial-intelligence-3382507_1280.jpg');
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
}